<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDownloadService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://fias.nalog.ru/WebServices/Public/DownloadService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDownloadService"
                contract="FIASService.IDownloadService" name="BasicHttpBinding_IDownloadService" />
        </client>
    </system.serviceModel>
</configuration>